<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Naver Editor Example Update</title>
		
		<link rel="stylesheet" type="text/css" href="/jquery/jquery-ui.min.css" />

		<script type="text/javascript" src="/jquery/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="/update.js" charset="UTF-8"></script>
	</head>
	<body>
		<div class="contentDiv">
			<textarea id="content" name="content" style="width: 100%;"></textarea>
		</div>
		<div class="buttonDiv">
			<button id="updateBtn">수정</button>
			<button id="cancelBtn">취소</button>
		</div>
	</body>
</html>